# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.production
.env.example

# Uploads
uploads/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Build
dist/
build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Misc
*.tmp
